<div class="d-flex justify-content-center mt-5">
  <div class="col-lg-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <app-text-input
        formControlName="email"
        [label]="'Email Address'"
      ></app-text-input>
      <app-text-input
        formControlName="password"
        [label]="'Password'"
        [type]="'password'"
      ></app-text-input>

      <button
        [disabled]="loginForm.invalid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Sign in
      </button>
      <button
        class="btn btn-lg btn-warning btn-block"
        type="button"
        (click)="goToRegisterForm()"
      >
        No Account? Register
      </button>
      <app-separator separatorText="OR"></app-separator>
      <app-sign-in-google [returnUrl]="this.returnUrl"></app-sign-in-google>
    </form>
  </div>
</div>
