.quantity-editor {
  cursor: pointer;
  font-size: 2em;
}

.quantity {
  font-size: 1.5em;
}

.price {
  font-size: 2em;
}

.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 16px;
}
