<div class="container mt-5">
  <div class="row" *ngIf="product">
    <div class="col-sm-6">
      <ngx-gallery
        [options]="galleryOptions"
        [images]="galleryImages"
        style="display: inline-block; margin-bottom: 20px"
      ></ngx-gallery>
    </div>
    <div class="col-sm-6">
      <h3>{{ product.name }}</h3>
      <p class="price">{{ product.price | currency }}</p>
      <div class="d-flex justify-content-start align-items-center">
        <i
          (click)="decrementQuantity()"
          class="fa fa-minus-circle text-warning quantity-editor"
        ></i>
        <span class="font-weight-bold mx-2 quantity">{{ quantity }}</span>
        <i
          (click)="incrementQuantity()"
          class="fa fa-plus-circle text-warning quantity-editor"
        ></i>
        <button
          (click)="addItemToBasket()"
          class="btn btn-outline-primary btn-lg ml-4"
        >
          Add to Cart
        </button>
      </div>
      <div class="mt-2">
        <h4>Description</h4>
        <p>{{ product.description }}</p>
      </div>
      <div class="d-flex mt-2">
        <div class="mr-5">
          <h4>Brand</h4>
          <p>{{ product.productBrand }}</p>
        </div>
        <div>
          <h4>Type</h4>
          <p>{{ product.productType }}</p>
        </div>
      </div>
      <div class="mt-2">
        <h4>Reviews</h4>
        <p>
          Amount of people that have rated this product:
          {{ product.reviews.length }}
        </p>
        <button
          class="btn btn-primary"
          (click)="addReviewToProduct(product.name)"
        >
          Add Review
        </button>
        <div class="mt-2" style="overflow-y: scroll; height: 500px">
          <div
            *ngFor="let review of product.reviews"
            class="card shadow-sm mt-2 mr-2"
          >
            <div class="card-body d-flex flex-column">
              <span class="topLeft">{{ review.reviewerName }}</span>
              <br />
              <rating
                [max]="5"
                [readonly]="isReadonly"
                [(ngModel)]="review.rating"
                [customTemplate]="tt"
              ></rating>
              <ng-template #tt let-i="index" let-v="value">
                <button
                  class="btn btn-{{ i < v ? 'warning' : 'info' }}"
                  style="cursor: default; pointer-events: none"
                >
                  {{ i < v ? "&#9733;" : "&#9734;" }}
                </button>
              </ng-template>
              <hr />
              <span>{{ review.reviewText }}</span>
              <span class="topRight">{{ review.created | date }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
