<ng-container *ngIf="breadCrumb$ | async as breadcrumbs">
  <section
    *ngIf="
      breadcrumbs.length > 0 &&
      breadcrumbs[breadcrumbs.length - 1].label !== 'Home'
    "
    class="py-1 bg-light"
  >
    <div
      class="container"
      id="collapseBreadCrumbs"
      [collapse]="isBreadCrumbsCollapsed"
      [isAnimated]="true"
    >
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h1>
            {{
              breadcrumbs.length > 0 &&
                breadcrumbs[breadcrumbs.length - 1].label | titlecase
            }}
          </h1>
        </div>
        <div class="col-3">
          <xng-breadcrumb></xng-breadcrumb>
        </div>
      </div>
    </div>
    <div
      class="row"
      role="button"
      (click)="isBreadCrumbsCollapsed = !isBreadCrumbsCollapsed"
      [attr.aria-expanded]="!isBreadCrumbsCollapsed"
      aria-controls="collapseBreadCrumbs"
    >
      <span class="mx-auto"
        ><i
          class="fa"
          aria-hidden="true"
          [class.fa-chevron-down]="isBreadCrumbsCollapsed"
          [class.fa-chevron-up]="!isBreadCrumbsCollapsed"
        ></i
      ></span>
    </div>
  </section>
</ng-container>
