<div class="container mt-5">
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>

      <select
        class="custom-select mb-4"
        (change)="onSortSelected($event.target.value)"
      >
        <option
          *ngFor="let sort of sortOptions"
          [selected]="orderParams.sort === sort.value"
          [value]="sort.value"
        >
          {{ sort.name }}
        </option>
      </select>

      <div
        class="row ml-3 my-3"
        role="button"
        (click)="isStatusCollapsed = !isStatusCollapsed"
        [attr.aria-expanded]="!isStatusCollapsed"
        aria-controls="collapseStatus"
      >
        <h5 class="text-warning">Status</h5>
        <span class="ml-auto mr-4"
          ><i
            class="fa"
            aria-hidden="true"
            [class.fa-chevron-down]="isStatusCollapsed"
            [class.fa-chevron-up]="!isStatusCollapsed"
          ></i
        ></span>
      </div>

      <div
        id="collapseStatus"
        [collapse]="isStatusCollapsed"
        [isAnimated]="true"
      >
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let status of statusFilterOptions"
            [class.active]="status.value === this.orderParams.status"
            [value]="status.value"
            (click)="onStatusSelected(status.value)"
          >
            {{ status.name }}
          </li>
        </ul>
      </div>
    </section>

    <div class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [pageNumber]="this.orderParams.pageNumber"
          [pageSize]="this.orderParams.pageSize"
          [totalCount]="this.totalCount"
        >
        </app-paging-header>
        <div *ngIf="orders" class="form-inline mt-2">
          <input
            (keyup.enter)="onSearch()"
            #search
            class="form-control mr-2 searchInput"
            type="text"
            placeholder="Search"
          />
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">
            Search
          </button>
          <button (click)="onReset()" class="btn btn-outline-warning my-2 ml-2">
            Reset
          </button>
        </div>
      </div>

      <div class="row">
        <ng-container *ngIf="orders && orders.length === 0">
          <p>No orders yet!</p>
        </ng-container>
        <table *ngIf="orders && orders.length > 0" class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Order</th>
              <th>Date</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let order of orders"
              routerLink="/orders/{{ order.id }}"
            >
              <th># {{ order.id }}</th>
              <td>{{ order.orderDate | date: "medium" }}</td>
              <td>{{ order.total | currency }}</td>
              <td>{{ order.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center">
        <app-pager
          [pageSize]="orderParams.pageSize"
          [totalCount]="totalCount"
          [pageNumber]="orderParams.pageNumber"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </div>
  </div>
</div>
