<div class="container mt-3">
  <div class="row">
    <section class="col-3">
      <ng-container *ngIf="types && brands">
        <app-sort-selector
          title="Sort Products"
          [sortOptions]="sortOptions"
          [params]="shopParams"
          (change)="onSortSelected()"
        ></app-sort-selector>

        <app-collapsible-filter-list
          title="Brands"
          [filters]="brands"
          [id]="this.shopParams.brandId"
          (newFilterIdSelected)="onBrandSelected($event)"
        ></app-collapsible-filter-list>

        <app-collapsible-filter-list
          title="Types"
          [filters]="types"
          [id]="this.shopParams.typeId"
          (newFilterIdSelected)="onTypeSelected($event)"
        ></app-collapsible-filter-list>
      </ng-container>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [pageNumber]="this.shopParams.pageNumber"
          [pageSize]="this.shopParams.pageSize"
          [totalCount]="this.totalCount"
        >
        </app-paging-header>
        <div *ngIf="products" class="form-inline mt-2">
          <input
            (keyup.enter)="onSearch()"
            #search
            class="form-control mr-2 search"
            type="text"
            placeholder="Search"
          />
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">
            Search
          </button>
          <button (click)="onReset()" class="btn btn-outline-warning my-2 ml-2">
            Reset
          </button>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          [pageNumber]="shopParams.pageNumber"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
