<nav ngxNavbarDynamicExpand class="navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler hamburger hamburger--spin"
    [ngClass]="{ 'is-active': this.isNavBarOpen }"
    type="button"
    (click)="collapse.toggle()"
    (click)="toggleCollapse()"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <a class="navbar-brand">
    <img
      src="/assets/images/logo.png"
      routerLink="/"
      style="max-height: 70px"
      alt="logo"
      class="logo d-inline-block align-top"
  /></a>
  <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
    <div class="navbar-collapse w-100 justify-content-center">
      <ul
        class="navbar-nav w-100 justify-content-end text-uppercase mr-5"
        style="font-size: larger"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active"
            >Shop</a
          >
        </li>

        <ng-container *ngIf="isScreenSmall$ | async">
          <ng-container *ngIf="(currentUser$ | async) === null">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/account/Login"
                routerLinkActive="active"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/account/Register"
                routerLinkActive="active"
                >Register</a
              >
            </li>
          </ng-container>
          <ng-container *ngIf="isAdmin$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active"
                >Admin</a
              >
            </li>
          </ng-container>
          <ng-container *ngIf="currentUser$ | async as user">
            <li class="nav-item">
              <a
                routerLink="/basket"
                routerLinkActive="active"
                class="nav-link"
              >
                View Basket
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/orders"
                routerLinkActive="active"
                class="nav-link"
              >
                View Orders
              </a>
            </li>
            <li class="nav-item">
              <a (click)="logout()" class="nav-link"> Logout </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <ul class="nav navbar-nav w-100 justify-content-end">
        <li class="nav-item">
          <a routerLink="/basket" class="nav-link position-relative basket">
            <i class="fa fa-shopping-cart fa-2x mr-3 text-dark"></i>
            <div *ngIf="basket$ | async as basket" class="cart-no">
              {{ basket.items.length }}
            </div>
          </a>
        </li>
        <ng-container
          *ngIf="!(isScreenSmall$ | async) && (currentUser$ | async) === null"
        >
          <div class="form-inline my-1">
            <li class="nav-item mr-1 my-1">
              <a class="btn btn-outline-primary" routerLink="/account/Login"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-primary mr-1"
                routerLink="/account/Register"
                >Register</a
              >
            </li>
          </div>
        </ng-container>

        <ng-container
          *ngIf="!(isScreenSmall$ | async) && currentUser$ | async as user"
        >
          <div class="form-inline dropdown" dropdown>
            <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
              <strong>Welcome {{ user.displayName }}</strong>
            </a>
            <div
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right navDropDownMenu"
            >
              <li role="menuitem">
                <a
                  routerLink="/basket"
                  class="dropdown-item d-flex align-items-center py-2"
                >
                  <i class="fa fa-shopping-cart mr-3"></i>
                  View Basket
                </a>
              </li>
              <li role="menuitem">
                <a
                  routerLink="/orders"
                  class="dropdown-item d-flex align-items-center py-2"
                >
                  <i class="fa fa-history mr-3"></i>
                  View Orders
                </a>
              </li>
              <ng-container *ngIf="isAdmin$ | async">
                <div class="dropdown-divider"></div>
                <li role="menuitem">
                  <a
                    class="nav-link"
                    routerLink="/admin"
                    class="dropdown-item d-flex align-items-center py-2"
                  >
                    <i class="fa fa-address-card mr-3"></i>
                    Admin
                  </a>
                </li>
              </ng-container>
              <div class="dropdown-divider"></div>
              <li role="menuitem">
                <a
                  (click)="logout()"
                  class="dropdown-item logout d-flex align-items-center py-2"
                >
                  <i class="fa fa-sign-out mr-3"></i>
                  Logout
                </a>
              </li>
            </div>
          </div>
        </ng-container>
      </ul>
    </div>
  </ngx-navbar-collapse>
</nav>
